[Unit]
Description=Home mount
After=decrypt-home_encrypted.service
Before=late-mount.target

[Mount]
What=/dev/mapper/home_encrypted
Where=/home
Type=ext4
Options=defaults,noatime

[Install]
RequiredBy=late-mount.target
