[Unit]
Description=Late Mount
Requires=basic.target
Before=systemd-user-sessions.service

[Install]
RequiredBy=multi-user.target systemd-user-sessions.service
