# Copyright (C) 2020 Rinigus

[Unit]
Description=Stop UI for boot time passwords
Requires=late-mount.target
After=late-mount.target
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/killall systemd-ask-password-gui
Restart=no

[Install]
RequiredBy=systemd-user-sessions.service
