[Unit]
Description=UI for boot time passwords
After=wait_for_keymaster.service droid-late-start.service late-mount-pre.target
Requires=wait_for_keymaster.service droid-late-start.service late-mount-pre.target
Before=late-mount.target

[Service]
Type=simple
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStart=/usr/bin/systemd-ask-password-gui $LIPSTICK_OPTIONS
Restart=no

[Install]
RequiredBy=late-mount.target
