[Unit]
Description=UI for boot time passwords
After=wait_for_keymaster.service droid-late-start.service
Requires=wait_for_keymaster.service droid-late-start.service
Before=late-mount.target

[Service]
Type=simple
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStart=/usr/bin/systemd-ask-password-gui $LIPSTICK_OPTIONS
Restart=no
#ExecStart=/usr/bin/invoker -o -s --type=qt5 /usr/bin/systemd-ask-password-gui $LIPSTICK_OPTIONS

[Install]
RequiredBy=late-mount.target
