[Unit]
Description=UI for boot time passwords

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStart=/usr/bin/systemd-ask-password-gui $LIPSTICK_OPTIONS
Restart=no

[Install]
RequiredBy=late-mount.target
